<% icourses = current_user.mycourses %>
<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formField">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="formField">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="formField">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="formField">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="formField">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="formField">
   <label>Courses Code, Section</label>
   <% icourses.each do |crs| %>
    <label><%= radio_button_tag "course_id", crs.id, @assignment.get_courses.include?(crs) %> <%= crs.code %>, <%= crs.section %></label>
   <% end %> 
  </div>
  <div class="formField">
    <%= f.submit %>
  </div>
<% end %>
