<p id="notice"><%= notice %></p>

<p>
  <b>Stud number:</b>
  <%= @student.stud_no %>
</p>

<p>
  <b>First name:</b>
  <%= @student.f_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.l_name %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>



<%= link_to 'Edit', edit_student_path(@student) %><!-- |
<%= link_to 'Back', students_path %> -->
