<h1> Dashboard </h1>

<%= form_tag "/admin/buildcourses" do %>
<div style="margin:0 auto;height:400px;">
<div class="formFieldTimeLeft">
<div class="itemLabel"><%= label_tag(:f, "Fall Semester Start Date:") %></div>
<div style="float:left" class="itemField"><%= date_select(:f, "date") %></div>
</div>
<div class="formFieldTimeRight">
<div class="itemLabel"><%= label_tag(:w, "Winter Semester Start Date:") %></div>
<div style="float:left" class="itemField"><%= date_select(:w, "date") %></div>
</div>
<div class="formFieldTimeLeft">
<div class="itemLabel"><%= label_tag(:s, "Summer Semester Start Date:") %></div>
<div style="float:left" class="itemField"><%= date_select(:s, "date") %></div>
</div>
<div style="clear:both;float:left"><%= submit_tag("Submit") %></div>	
</div>
<% end %>

