<%= javascript_include_tag "calendarBuilder.js"  %>

<script type="text/javascript" >
	var set = 0;
        <% @courses.each do |course| %>
        <% course.start = course.start.to_time.to_i %>
        <% course.end = course.end.to_time.to_i %>
        <%end%>
        <% @assignments.each do |ass| %>
        <% ass.start = ass.start.to_time.to_i %>
        <% ass.end = ass.end.to_time.to_i %>
        <%end%>

        var coursesToJSON = <%= raw @courses.to_json %>
        var assignmentsToJSON = <%= raw @assignments.to_json %>
	<% ht = Hash.new%>
	<% @assignments.each do |ass| %>
	<% ht[ass.id] = ass.courses.first %>
	<% end %>
	var atoc = <%= raw ht.to_json %>

	$(document).ready(function(){
	
	buildCalendar(coursesToJSON, assignmentsToJSON);
	
	});


        document.addEventListener("DOMSubtreeModified", function(e){

                if($(e.target).attr("class") == "fc-event fc-event-skin fc-event-vert fc-corner-top fc-corner-bottom"){
                        var node = $(e.target).find(".fc-event-title");
                        if (!node.has("div").length){
                                var curr = node.text();
                                node.empty();
                                node.html("<div style='display:none'>"+curr.split("#")[1]+"</div>" + curr.split("#")[0]);       
                        }
                }

                if($(".fc-event")[0] && set == 0){
                        setHover(assignmentsToJSON, coursesToJSON, atoc);
                	set = 1;
		}if(!$(".fc-event")[0]){
			set = 0;
		}
        });
	
</script>

<p>Click Event to delete:</p>
<% current_user.courses.each do |course| %>
  <% if @courses.include? course%>
    <% course.get_assignments.each do |assignment| %> 
      <div style="float:left;margin-right:6px;text-decoration:none;" id="<%= assignment.title %>" class="assignment"><%= link_to assignment.title , assignment, method: :delete, data: { confirm: 'Are you sure?' } %></div>   
    <%end%>
  <%end%>
<%end%>
<br /><br />
<p>Students in my courses:</p>
<% @students=@students.uniq %>
<% @students.each do |student| %>
<div style="margin-right:6px;float:left;text-decoration:none;"><%=student.f_name + " " + student.l_name + ", " %></div>
<%end%>
<br /><br />
<div style="float:right"><%= link_to 'Add Event', new_assignment_path %></div><br />
<br />
<div id="calendar" style="width:100%;"></div>
