<%= javascript_include_tag "calendarBuilder.js"  %>

<script type="text/javascript" >
	var set = 0;
        <% @courses.each do |course| %>
        <% course.start = course.start.to_time.to_i %>
        <% course.end = course.end.to_time.to_i %>
        <%end%>
        <% @assignments.each do |ass| %>
        <% ass.start = ass.start.to_time.to_i %>
        <% ass.end = ass.end.to_time.to_i %>
        <%end%>

        var coursesToJSON = <%= raw @courses.to_json %>
        var assignmentsToJSON = <%= raw @assignments.to_json %>


	$(document).ready(function(){
	
	buildCalendar(coursesToJSON, assignmentsToJSON);
	
	});


        document.addEventListener("DOMSubtreeModified", function(e){
                if($(".fc-event")[0] && set == 0){
                        setHover(assignmentsToJSON, coursesToJSON);
                	set = 1;
		}if(!$(".fc-event")[0]){
			set = 0;
		}
        });
	
</script>

<p>Click Event to delete:</p>
<% @assignments.each do |assignment| %>
  <% cid = assignment.courses.id %>
  <% course = Course.find(cid) %>
  <% uid = course.users.id %>
  <% user = User.find(uid) %>
  <% if user == current_user %>
    <div style="float:left;margin-right:6px;text-decoration:none;" id="<%= assignment.title %>" class="assignment"><%= link_to assignment.title , assignment, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
  <% end %>
<%end%>
<br /><br />
<p>Students in my courses:</p>
<% @students=@students.uniq %>
<% @students.each do |student| %>
<div style="margin-right:6px;float:left;text-decoration:none;"><%=student.f_name + " " + student.l_name + ", " %></div>
<%end%>
<br /><br />
<div style="float:right"><%= link_to 'Add Event', new_assignment_path %></div><br />
<br />
<div id="calendar" style="width:100%;"></div>
