<p id="notice"><%= notice %></p>


<%= javascript_include_tag "calendarBuilder.js" %>
<script type="text/javascript">

$(document).ready(function(){

	<% @courses.each do |course| %>
	<% course.start = course.start.to_time.to_i %>
	<% course.end = course.end.to_time.to_i %>
	<%end%>

	var coursesToJSON = <%= raw @courses.to_json %> 
	buildCalendar(coursesToJSON);

});
    
</script>

<div id='calendar'></div>

<p class="test">
  <b>First name:</b>
  <%= @professor.f_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @professor.l_name %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>

<% @courses.each do |course| %>
<%= course.to_json %>
<% end %>
