<p id="notice"><%= notice %></p>

<script type="text/javascript">
function maxDays(year, month){
	return new Date(year, month, 0).getDate();
}

$(document).ready(function(){

	var dates = new Array();
	var courseData = new Array();
	var newDateStart = new Date();
	var newDateEnd = new Date();
	var thisDate = new Date();
	
	// //Set semester years
	// if (thisDate.getMonth() > 0 && thisDate.getMonth() < 8){
	// 	var fallYear = thisDate.getYear()-1;
	// 	var winterYear = thisDate.getYear();
	// }else{
	// 	var fallYear = thisDate.getYear();
	// 	var winterYear = thisDate.getYear()+1;
	// }
	// //Set datse depending on semester
	// var word = "";
	// if(word.slice(word.length-1, word.length) == 'f'){
	// 	startDate = new Date(fallYear, 9, 3, 0, 0, 0, 0);
	// 	endDate = new Date(fallYear, 12, 6, 0, 0, 0, 0); 
	// }else if(word.slice(word.length-1, word.length)){
	// 	startDate = new Date(winterYear, 1, 6, 0,0,0,0);
	// 	endDate = new Date(winterYear, 4, 10, 0,0,0,0);
	// }else{
	// 	startDate = new Date(winterYear, 5, 6, 0,0,0,0);
	// 	endDate = new Date(winterYear, 8,8,0,0,0,0);
	// }

	endDate = new Date();

	<% @courses.each do |course| %>
    var start = "<%= course.start.to_formatted_s(:long_ordinal) %>";
    var end = "<%= course.end.to_formatted_s(:long_ordinal) %>";
    start = start.trim();
    end = end.trim();
    start = start.slice(0,-3);
    end = end.slice(0,-3);
		newDateStart = new Date(start);
		newDateEnd = new Date(end);
    newDateStart.setYear(2013);
    newDateEnd.setYear(2013);

		while(newDateStart.getTime() < endDate.getTime()){
			newDateStart = newDateStart.getDate() + 7;
			newDateEnd = newDateEnd.getDate() + 7;
			if(newDateStart > maxDays(newDateStart.getYear(), newDateStart.getMonth())) {
				newDateStart.setMonth(newDateStart.getMonth() + 1);
				newDateStart.setDate( newDateStart.getDate() - maxDays(newDateStart.getYear(), newDateStart.getMonth()));
				newDateEnd.setMonth(newDateStart.getMonth() + 1);
				newDateEnd.setDate(newDateStart.getDate() - maxDays(newDateStart.getYear(), newDateStart.getMonth()));
			} 
		}
		dates.push(new Array(newDateStart, newDateEnd, "<%= course.code %>"));
	<% end %>

	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	
	var feedArray = new Array();
	for(var x = 0; x< dates.length; x++){
    feedArray[x] = new Array();
		feedArray[x]["start"] = dates[x][0];
		feedArray[x]["end"] = dates[x][1];
		feedArray[x]["title"] = dates[x][2];
	}

        $("#calendar").fullCalendar({
                header: {
                        left: 'prev, next today',
                        middle: 'title',
                        right: 'agendaWeek'
                },
		events: feedArray,
                defaultView: 'agendaWeek',
                editable: false,
                slotMinutes: 60,
                minTime: 9,
                maxTime: 23
        })
});

var array = new Array();
var i = 0;
<% @courses.each do |course| %>
i += 1;
array[i] = <%= raw course.to_json %>
<% end %>
</script>

<div id='calendar'></div>

<p class="test">
  <b>First name:</b>
  <%= @professor.f_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @professor.l_name %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>

<% @courses.each do |course| %>
<%= course.to_json %>
<% end %>
