<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
        $("#calendar").fullCalendar({
                header: {
                        left: 'prev, next today',
                        middle: 'title',
                        right: 'agendaWeek'
                },
                defaultView: 'agendaWeek',
                editable: false,
                slotMinutes: 60,
                minTime: 9,
                maxTime: 23
        })
});

var array = new Array();
var i = 0;
<% @courses.each do |course| %>
i += 1;
array[i] = <%= raw course.to_json %>
<% end %>
</script>

<div id='calendar'></div>

<p class="test">
  <b>First name:</b>
  <%= @professor.f_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @professor.l_name %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>

<% @courses.each do |course| %>
<%= course.to_json %>
<% end %>
