<p id="notice"><%= notice %></p>

<%= javascript_include_tag "calendarBuilder.js" %>
<script type="text/javascript">
	var set = 0;
        <% @courses.each do |course| %>
        <% course.start = course.start.to_time.to_i %>
        <% course.end = course.end.to_time.to_i %>
        <%end%>
        <% @assignments.each do |ass| %>
        <% ass.start = ass.start.to_time.to_i %>
        <% ass.end = ass.end.to_time.to_i %>
	<%end%>
        var coursesToJSON = <%= raw @courses.to_json %>
        var assignmentsToJSON = <%= raw @assignments.to_json %>
	<% ht = Hash.new%>	
	<% @assignments.each do |ass|%>
	<% ht[ass.id] = ass.courses.first %>
	<% end %>
	var atoc = <%= raw ht.to_json %>
        $(document).ready(function(){

        buildCalendar(coursesToJSON, assignmentsToJSON);

        });
  
        document.addEventListener("DOMSubtreeModified", function(e){
                if($(e.target).attr("class") == "fc-event fc-event-skin fc-event-vert fc-corner-top fc-corner-bottom"){
			var node = $(e.target).find(".fc-event-title");
			if (!node.has("div").length){
				var curr = node.text();
				node.empty();
				node.html("<div style='display:none'>"+curr.split("#")[1]+"</div>" + curr.split("#")[0]);	
			}
		}
		if($(".fc-event")[0] && set == 0){
                        setHover(assignmentsToJSON, coursesToJSON, atoc);
                        set = 1;
                }if(!$(".fc-event")[0]){
                        set = 0;
                }
        });
</script>

<p >Check schedule for: </p>
<% courseList = [] %>
<% @courses.each do |course| %>
<% if(courseList.index(course.code) == nil)%>
	<% courseList.push(course.code) %>
	<div style="margin-right:6px; float:left;text-decoration:none;"><%= link_to course.code, users_mystudents_courses_path(course.id) %></div>
<%end%>
<%end%>
<br />
<br />
<div id='calendar'></div>

<p class="test">
  <b>First name:</b>
  <%= @professor.f_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @professor.l_name %>	
</p>

<p>
<b> List of courses </b>
 <%= @course %>  

</p>

<h1>Testing</h1>
<%= @course_tagged %>
<%= link_to 'Edit', edit_professor_path(@professor) %><!-- |
<%= link_to 'Back', professors_path %> -->

